.grid {
    display: grid;
}

.grid-row {
    grid-template-rows: auto;
}

.gap-1 {
    grid-gap: 1rem;
}

.text-bold {
    font-weight: 600;
}

.center-align {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.fit-content {
    width: fit-content;
}

.btn {
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    color: #ffffff;
    background:rgb(1, 128, 255);
    cursor: pointer;
}

.small-text {
    padding-top: 5px;
    font-size: smaller;
}

.m-auto {
    margin: 0 auto;
}