.app {
    font-family: 'Inconsolata', monospace;
}

.grid {
    display: grid;
}

.container {
    max-width: 80vw;
    margin: 0 auto;
    padding-top: 2rem;
}

.header {
    grid-template-columns: auto min-content;
}

.game-board {
    width: min-content;
    margin: 0 auto;
    border-radius: 3px;
    grid-gap: .05em;
}

.cell {
    width: 3em;
    height: 3em;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.707);
    cursor: pointer;
    background: #ffffff;
    color: #000;
    padding: 0;
}

.cell:hover {
    background: #24abff;
}

.game-options {
    margin-top: 30px;
    grid-template-columns: 7fr 3fr;
    grid-gap: 1rem;
    align-items: center;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.game-play {
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting__icon {
    cursor: pointer;
    transition: all .3s ease-in;
}

.setting__icon:hover {
    fill: #096dd9;
}