div.container {
    width: 70vw;
    margin: 0 auto;
}

.btn {
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgb(56, 139, 255);
    color: #ffffff;
    padding: 5px 10px;
    font-weight: 600;
    margin-top: 50px;
    cursor: pointer;
}